<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <!-- Axios CDN -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>
<body>

  Это для пользователя c ролью HQ. <a href="/logout">Выйти</a>
  <div id='myApp'>

    <user></user>
    <orders></orders>
    <orders></orders>
    <!-- <orders
      v-for="order in orders"
      v-bind:key="order.order_id"
      v-bind:order_id="order.order_id"
      v-bind:order_name="order.order_name">
    </orders> -->
  </div>
  <script src='/app/appbuild.js'></script>
</head>

</html>
