<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>


  <!-- Foundation 6 -->
  <link rel="stylesheet" href="/asset/vendor/foundation6/css/foundation.css">
  <link rel="stylesheet" href="/asset/vendor/foundation6/css/app.css">
</head>

<body>
  <div class="row login">
    <div class="large-12 columns">
      <div class="row align-middle align-center">
        <div class="large-6 columns text-center">
          <h4>KINETIC SERVICE OPERATION</h4>
        </div>
      </div>

      <div class="row align-middle align-center">
        <div class="large-4 columns text-center">

          <form action="/login" method="post">
            <input type="text" name="username">
            <input type="text" name="password">
            <input type="submit" class="button" text="войти">
          </form>
        </div>
      </div>
    </div>

    <ul>
     <li><strong>TODO</strong> А у мастеров ведь разные цены? Типо это надо учесть при назначении?</li>
     <li><strong>TODO</strong> Чатик по типу "написать менеджеру - для сотрудников магаза, а для менеджеров - написать главному</li>
     <li><strong>TODO</strong> Выверить все купоны по размеру шрифта в зависимости от колиества текста. Считать по количеству строк. Можеть быть пихнуть это в data-layer отдельным полем, может быть считать всегда для каждого заново, опреация не сильно дорогая.</li>
    </ul>

  </div>


</body>

</html>