<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <!-- Foundation 6 -->
  <link rel="stylesheet" href="/asset/vendor/foundation6/css/foundation.css">
  <link rel="stylesheet" href="/asset/vendor/foundation6/css/app.css">

  <!-- Axios CDN -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>

  <div class='callout'>
    Это див для foundation
  </div>
  Это для пользователя с ролью Store. <a href="/logout">Выйти</a>
  
  <div id='myApp'>
    <user></user>

    <!-- форма для заявки -->
    <store></store>
    <!-- таблица всех заявок -->
    
  </div>

  <script src='/app/appbuild.js'></script>
</body>
</html>
