<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Store Layout</title>

  <!-- Foundation 6 -->
  <link rel="stylesheet" href="/asset/vendor/foundation6/css/foundation.css">
  <link rel="stylesheet" href="/asset/vendor/foundation6/css/app.css">
  <script src="/asset/vendor/foundation6/js/vendor/jquery.js"></script>
  <script src="/asset/vendor/foundation6/js/vendor/foundation.js"></script>
  
  <!-- Axios CDN -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
  
  <div id='myApp'>    
    <user></user>
    <store></store>
  </div>

  <script src='/app/appbuild.js'></script>
</body>
</html>
