<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  
  <!-- Axios CDN -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- Lodash CDN -->
  <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
  <!-- Vue CDN -->
  <script src="https://unpkg.com/vue"></script>
</head>

<body>

  <div id="myapp">
    {{a}}
    <ul v-for="order in orders" :key="order._id">
      <li>
        {{order}} 
        <div>
          <input type="button" v-on:click="payThis(order._id)">
        </div>
      </li>
    </ul>
  </div>

  <script src="ordergridtest.js"></script>

  
</body>

</html>